body {
    margin: 0;
    padding: 0 10px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    background: #24244A;
    font-family: Menlo, Consolas, monospace;
    max-width: 700px;
    margin: 0 auto;
}

.box {
    padding: 15px 20px;
    border-radius: 6px;
    display: inline-block;
    border: 1.6px solid #92c7c9;
}

.line {
    width: 80%;
    max-width: 520px;
    margin: 20px auto;
    border-bottom: 1.6px solid #92c7c9;
}

a {
    color: #d94a4a;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    font-size: 18px;
    line-height: 1.2;
    margin: 20px 0 10px;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
        padding: 0 10px;
    }
}
