
body {
    margin: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    background: #24244A;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-width: 700px;
    margin: 0 auto;
}

.box {
    padding: 15px 20px;
    border-radius: 6px;
    display: inline-block;
    border: 1.6px solid #92c7c9;
}

.line {
    width: 80%;
    max-width: 520px;
    margin: 20px auto;
    border-bottom: 1.6px solid #92c7c9;
}

a {
    color: #d94a4a;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    font-size: 22px;
    line-height: 1.2;
    margin: 20px 0 10px;
}

@media (max-width: 600px) {
    body {
        font-size: 20px;
        padding: 10px;
    }
}
